<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="leftsidebar(currentpage)">
    <aside class="main-sidebar sidebar-dark-primary elevation-4" >
    <!-- Brand Logo -->
    <a href="/index" class="brand-link">
        <span class="brand-text font-weight-light">高校教务系统</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block">用户名</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link">
                        <i class="fas fa-server"></i>
                        <p>
                            教务系统
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" sec:authroize="hasAnyRole('ROLE_admin')">
                        <li class="nav-item">
                            <a href="/student/to/scores" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>成绩查询</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/student/to/exams" class="nav-link" th:classappend="${currentpage=='<title>考试安排</title>'?'active':''}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>考试安排</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/student/to/select/classes" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>网上选课</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/student/to/info" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>个人信息</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- /.sidebar -->
</aside></div>
