<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>理工大学信息门户</title>
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
  <sec:authentication property="name" var="???"/>
  <div class="login-form">
      <h5 th:if="${param.error}">用户名或者密码错误，请重试</h5>
        <form action="/login" method="post" >
          <h1>用户登录/login</h1>
          <div class="input-group">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <div>
              <h5>学号</h5>
              <input type="text" name="username" class="input">
            </div>
          </div>
          <div class="input-group">
            <div class="icon">
              <i class="fa fa-lock"></i>
            </div>
            <div>
              <h5>密码</h5>
              <input type="password" name="password" class="input">
            </div>
          </div>
          <input type="submit" value="登录" class="login-btn">
          <a href="#">忘记密码 ?</a>
        </form>
    </div>
    <script src="assets\js\app.js" type="text/javascript"></script>
  </body>
</html>
