<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sufu.ems.dao.MySeUserMapper">
<select id="getUserRolesByUserId" resultType="com.sufu.ems.entity.SeRole">
    SELECT
        *
    FROM
        se_role
    <if test="array != null">
        WHERE id IN
        <foreach collection="array" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </if>
</select>
<select id="loadUserByUserName" resultType="com.sufu.ems.entity.SeUser">
    SELECT
        *
    FROM
        se_user
    WHERE
        username = #{username}
</select>
    <select id="getUserRolesString" resultType="com.sufu.ems.entity.SeUserRole">
    SELECT
	    *
    FROM
	    `se_user_role`
    WHERE
	    uid = #{id}
    </select>
</mapper>