<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sufu.ems.dao.TbClassroomMapper">
  <resultMap id="BaseResultMap" type="com.sufu.ems.entity.TbClassroom">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="classroom_number" jdbcType="VARCHAR" property="classroomNumber" />
    <result column="classroom_place" jdbcType="VARCHAR" property="classroomPlace" />
    <result column="student_count" jdbcType="INTEGER" property="studentCount" />
  </resultMap>
</mapper>